<div class="login-register" style="background-image:url(../../../assets/images/background/login-register.jpg);">
    <div class="center">
            <form>
                <h4 style="font-weight: 100 !important;">{{name}}</h4>
                <div class="mb-3">
                    <label for="email" style="font-weight: 100 !important; color: #67757c; font-size: 12.8px;">Enter mail ID associated with username</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="loginemail">
                                <i class="bi bi-envelope"></i>
                            </span>
                        </div>
                        <input formControlName="email" type="text" class="form-control" id="loginusername" AUTOCOMPLETE="off"
                               ng-model="credentials.username" style="font-weight: 100 !important; color: #6a7478"
                               placeholder="Associated Mail ID">
                    </div>
                </div>
                <div style="margin-top: 20px; margin-bottom: 20px;">
                    <button type="submit" class="btn login" style="font-weight: 100 !important;">Confirm</button>
                    <button routerLink="/login" class="btn btn-primary" style="font-weight: 100 !important;">Back</button>
                </div>
            </form>
    </div>
</div>